<!DOCTYPE html>
{strip}
<html lang="en" class="h-100">

	<head>
		{include file='includes/head.tpl.html'}
	</head>

	<body class="d-flex flex-column h-100">

		<header>
			{include file='includes/header.tpl.html'}
		</header>
		
		<main role="main" class="flex-shrink-0">
			<div class="container">
				<h1 class="mt-5">Bem-bindo!</h1>
				<p class="lead">Esse é um projeto de teste.</p>
				<p><a href="/test/list" class="btn btn-info">Abrir listagem</a></p>
			</div>
		</main>

		<footer class="footer mt-auto py-3">
			{include file='includes/footer.tpl.html'}
		</footer>

	</body>

</html>
{/strip}